/*顶部开始*/
.top {
    background-color: #f1f1f1;
    height: 31px;
    line-height: 31px; 
}

.top_nav ul li {
    float: left;
 
}
.pyg_welcome a {
    margin-left: 12px;
}
.top_nav .line {
    height: 10px;
    width: 1px;
    background-color: #666;
    margin-top: 10px;
    margin-right: 13px;
    margin-left: 13px;
}
/*头部开始*/
header {   
    border-bottom: 2px solid #b1191a;
}
.header {
    height: 150px; 
}

/*logo开始*/
.logo a {
    position: absolute;
    top: 25px;
    left: 0;
    display: block;
    width: 175px;
    height: 56px;
    font-size: 0;
    background: url("../images/logo.png") no-repeat;
}
/*搜索*/
.search {
    position: absolute;
    top: 25px;
    left: 345px;
    height: 36px;
    width: 538px;
   
}
.header_input {
    float: left;
    width: 455px;
    height: 34px;
    border: 1px solid #b1191a; 
    border-right: none;  
    text-indent: 10px;
    font-size: 14px;
}
.sousuo {
    float: left;
    background-color: #b1191a;
    width: 80px;
    height: 36px;
    color: #fff;
    font-size: 16px;
     cursor: pointer;
}
/*我的购物车*/
.shopping_car {
    position: absolute;
    top: 25px;
    right: 62px;
    width: 136px;
    height: 32px;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
    line-height: 30px;
    padding-left: 16px;
    box-sizing: border-box;
}
.news {
    position: absolute;
    left: 100px;
    top: -10px;
    width: 16px;
    height: 16px;
    background-color: #e60012;
    border-radius: 8px 8px 8px 0;   
    text-align: center;
    line-height: 16px;
    /*vertical-align: top;*/
    color: #fff;
}
.shopping_car i {
    vertical-align: middle;
        
}
.shopping_car a {
    margin: 0 10px 0 5px;
    /*vertical-align: middle;*/
}
.shopping_car i:first-child {
        font-weight: 700;
    vertical-align: top;
        
}
/*优惠通知*/
header .discount li {
    float: left;
    margin-right: 24px;
}
header .discount {
    position: absolute;
    top: 68px;
    left: 358px;
}
/*头部导航*/
.header_nav {
    position: absolute;
    bottom: 14px;
    left: 248px;
}
.header_nav li {
    float: left;
    margin-right: 50px;
}
.header_nav li a {
    font-size: 16px;
}

/*底部优惠*/
footer {
    background-color: #f5f5f5;
}
/*底部优惠*/

.advange {
    /*padding-left: 36px;*/
    padding: 30px 0 30px 36px;
    border-bottom: 1px solid #ededed;
}
.advange dl {
    float: left;
    width: 20%;
}
.advange dt {
    height: 50px;
    width: 50px;
    font-size: 0;
    float: left;
    background-image: url("../images/icons.png");
}   
.advange dl:nth-child(1) dt {
    background-position: -253px -3px;
}
.advange dl:nth-child(2) dt {
    background-position: -253px -52px;
}
.advange dl:nth-child(3) dt {
    background-position: -256px -105px;
}
.advange dl:nth-child(4) dt {
    background-position: -257px -156px;
}
.advange dl:nth-child(5) dt {
    background-position: -256px -208px;
}
.advange dd {
    float: left;
    padding-left: 6px;
}
.advange dd h4 {
    padding: 8px 0;
}
/*底部导航*/
.footer_nav {
    padding-top: 20px;
    position: relative;
    top: 0;
    left: 50px;
}
.footer_nav dl {
    float: left;
    width: 16%;
    /*padding-left: 50px;*/
}
.footer_nav dt {
    font-size: 16px;
    color: #333;
    padding-bottom: 14px;
}
.footer_nav dd {
    padding-bottom: 10px;
}
.footer_nav dd a {
    color: #333;
}
.footer_nav img {
    position: relative;
    top: 0;
    left: -10px;
}

/*底部关于*/
.footer_info {
    margin-top: 14px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
}
.footer_info ul {
    width: 960px;
    margin: 0 auto;
}
.footer_info li {
    float: left;
}
.footer_info .line {
    width: 1px;
    background-color: #999;
    height: 12px;
    margin: 0 14px;
}
.comunicating {
    text-align: center;
    padding-top: 16px;
}
.comunicating p:first-child {
    margin-bottom: 9px;
}
